<footer>
    <!-- <a href="https://www.linkedin.com/"><img src="./img/linkedin button.png" height="40" width="120" style="float:center;padding-right:10px;padding-top:10px;"></a><a href="https://www.facebook.com/"><img src="./img/facebook button.png" height="40" width="120" style="float:center;padding-right:10px;padding-top:10px;"></a><a href="https://twitter.com/"><img src="./img/twitter button.png"height="40" width="120" style="float:center;padding-right:10px;padding-top:10px;"></a><a href="https://www.artstation.com/laevenx"><img src="./img/artstation button.png"height="40" width="120" style="float:center;padding-right:10px;padding-top:10px;"></a> -->
    <h5 class="foot"> @2020 QRoti by Grady and Haqqi</h5>
</footer>