<header>
    || <a href="/transaction">Buy Menu</a> ||
    <a href="/supply">Our Bread Supply</a> ||
    <a href="/transaction/list">Transaction List</a> ||
    <a href="/logout">Logout</a> ||
</header>